In [8]:
import pandas as pd
import numpy as np
import lib_tools as pt # Project Tools

# Complete
# start_year, end_year, chk, sampled = [2005, 2021, True, False]

# Quick
# start_year, end_year, chk, sampled = [2018, 2020, False, True]

# df = pt.load_proj_df(start_year, end_year, chk, sampled)

# df.to_csv(path_or_buf='project_df.csv')

somme des lignes 'dic': 2509620
nombre de lignes 'df' : 2509620
nombre de doublons avant traîtement : 2858
nombre de doublons avant traîtement : 0
somme des lignes 'dic': 1121571
nombre de lignes 'df' : 1121571
nombre de doublons avant traîtement : 0
nombre de doublons avant traîtement : 0
somme des lignes 'dic': 1914902
nombre de lignes 'df' : 1914902
nombre de doublons avant traîtement : 0
nombre de doublons avant traîtement : 0
Véhicules en doublons vis à vis de la clé fonctionnelle avant traitement : 53
Véhicules en doublons vis à vis de la clé fonctionnelle après traitement : 0
somme des lignes 'dic': 1121571
nombre de lignes 'df' : 1121571
nombre de doublons avant traîtement : 0
nombre de doublons avant traîtement : 0

usagers :

usagers 2005 : 12 colonnes x 197498 lignes
usagers 2006 : 12 colonnes x 187085 lignes
usagers 2007 : 12 colonnes x 188457 lignes
usagers 2008 : 12 colonnes x 170960 lignes
usagers 2009 : 12 colonnes x 165962 lignes
usagers 2010 : 12 colonnes x 154192 lignes
usagers 2011 : 12 colonnes x 148543 lignes
usagers 2012 : 12 colonnes x 138628 lignes
usagers 2013 : 12 colonnes x 128694 lignes
usagers 2014 : 12 colonnes x 132186 lignes
usagers 2015 : 12 colonnes x 130378 lignes
usagers 2016 : 12 colonnes x 133422 lignes
usagers 2017 : 12 colonnes x 136021 lignes
usagers 2018 : 12 colonnes x 130169 lignes
usagers 2019 : 15 colonnes x 132977 lignes
usagers 2020 : 15 colonnes x 105295 lignes
usagers 2021 : 15 colonnes x 129153 lignes

nombre de lignes min : 105295
nombre de lignes max : 197498

caract :

caract 2005 : 16 colonnes x 87026 lignes
caract 2006 : 16 colonnes x 82993 lignes
caract 2007 : 16 colonnes x 83850 lignes
caract 2008 : 16 colonnes x 76767 lignes
caract 2009 : 16 colonnes x 74409 lignes
caract 2010 : 16 colonnes x 69379 lignes
caract 2011 : 16 colonnes x 66974 lignes
caract 2012 : 16 colonnes x 62250 lignes
caract 2013 : 16 colonnes x 58397 lignes
caract 2014 : 16 colonnes x 59854 lignes
caract 2015 : 16 colonnes x 58654 lignes
caract 2016 : 16 colonnes x 59432 lignes
caract 2017 : 16 colonnes x 60701 lignes
caract 2018 : 16 colonnes x 57783 lignes
caract 2019 : 15 colonnes x 58840 lignes
caract 2020 : 15 colonnes x 47744 lignes
caract 2021 : 15 colonnes x 56518 lignes

nombre de lignes min : 47744
nombre de lignes max : 87026

lieux :

lieux 2005 : 18 colonnes x 87026 lignes
lieux 2006 : 18 colonnes x 82993 lignes
lieux 2007 : 18 colonnes x 83850 lignes
lieux 2008 : 18 colonnes x 76767 lignes
lieux 2009 : 18 colonnes x 74409 lignes
lieux 2010 : 18 colonnes x 69379 lignes
lieux 2011 : 18 colonnes x 66974 lignes
lieux 2012 : 18 colonnes x 62250 lignes
lieux 2013 : 18 colonnes x 58397 lignes
lieux 2014 : 18 colonnes x 59854 lignes
lieux 2015 : 18 colonnes x 58654 lignes
lieux 2016 : 18 colonnes x 59432 lignes
lieux 2017 : 18 colonnes x 60701 lignes
lieux 2018 : 18 colonnes x 57783 lignes
lieux 2019 : 18 colonnes x 58840 lignes
lieux 2020 : 18 colonnes x 47744 lignes
lieux 2021 : 18 colonnes x 56518 lignes

nombre de lignes min : 47744
nombre de lignes max : 87026

vehic :

vehic 2005 : 9 colonnes x 149764 lignes
vehic 2006 : 9 colonnes x 142300 lignes
vehic 2007 : 9 colonnes x 144130 lignes
vehic 2008 : 9 colonnes x 131048 lignes
vehic 2009 : 9 colonnes x 126347 lignes
vehic 2010 : 9 colonnes x 117743 lignes
vehic 2011 : 9 colonnes x 113854 lignes
vehic 2012 : 9 colonnes x 105814 lignes
vehic 2013 : 9 colonnes x 98925 lignes
vehic 2014 : 9 colonnes x 101762 lignes
vehic 2015 : 9 colonnes x 99778 lignes
vehic 2016 : 9 colonnes x 101924 lignes
vehic 2017 : 9 colonnes x 103546 lignes
vehic 2018 : 9 colonnes x 98876 lignes
vehic 2019 : 11 colonnes x 100710 lignes
vehic 2020 : 11 colonnes x 81066 lignes
vehic 2021 : 11 colonnes x 97315 lignes

nombre de lignes min : 81066
nombre de lignes max : 149764
Column com coreectly dropped from DataFrame
Column adr coreectly dropped from DataFrame
Column lat coreectly dropped from DataFrame
Column long coreectly dropped from DataFrame
Column pr coreectly dropped from DataFrame
Column pr1 coreectly dropped from DataFrame
Column obs coreectly dropped from DataFrame
Column obsm coreectly dropped from DataFrame
Column choc coreectly dropped from DataFrame
Column manv coreectly dropped from DataFrame
Colonnes supprimées : Index(['v2', 'motor', 'id_vehicule', 'secu2', 'secu1', 'secu3', 'vma', 'v1',
       'gps', 'lartpc', 'secu', 'env1', 'occutc', 'larrout', 'voie'],
      dtype='object')

             column_name  rate_missing
v2                    v2     95.249888
motor              motor     85.351741
id_vehicule  id_vehicule     85.349188
secu2              secu2     85.349188
secu1              secu1     85.349188
secu3              secu3     85.349188
vma                  vma     85.349188
v1                    v1     56.446803
gps                  gps     56.341448
lartpc            lartpc     19.694171
secu                secu     16.899849
env1                env1     15.157921
occutc            occutc     14.478519
larrout          larrout     10.182618
voie                voie      8.959407
place              place      4.896197
actp                actp      2.251869
etatp              etatp      2.250114
locp                locp      2.247840
infra              infra      0.502401
situ                situ      0.462828
vosp                vosp      0.253075
nbv                  nbv      0.248887
an_nais          an_nais      0.218449
plan                plan      0.215377
prof                prof      0.176961
surf                surf      0.175525
circ                circ      0.142136
trajet            trajet      0.019707
senc                senc      0.016595
atm                  atm      0.005944
catv                catv      0.003431
col                  col      0.001715
catr                catr      0.000080
dep                  dep      0.000000
int                  int      0.000000
agg                  agg      0.000000
lum                  lum      0.000000
hrmn                hrmn      0.000000
jour                jour      0.000000
mois                mois      0.000000
an                    an      0.000000
num_veh          num_veh      0.000000
sexe                sexe      0.000000
grav                grav      0.000000
catu                catu      0.000000
Num_Acc          Num_Acc      0.000000
Suppression des lignes avec Null :
Nombre de lignes avant : 2506762
Nombre de lignes après : 2501286
Taux de perte : 0.22 %
Départements avant nettoyage :
['01' '010' '02' '020' '03' '030' '04' '040' '05' '050' '06' '060' '07'
 '070' '08' '080' '09' '090' '1' '10' '100' '11' '110' '12' '120' '13'
 '130' '14' '140' '15' '150' '16' '160' '17' '170' '18' '180' '19' '190'
 '2' '20' '201' '202' '21' '210' '22' '220' '23' '230' '24' '240' '25'
 '250' '26' '260' '27' '270' '28' '280' '29' '290' '2A' '2B' '3' '30'
 '300' '31' '310' '32' '320' '33' '330' '34' '340' '35' '350' '36' '360'
 '37' '370' '38' '380' '39' '390' '4' '40' '400' '41' '410' '42' '420'
 '43' '430' '44' '440' '45' '450' '46' '460' '47' '470' '48' '480' '49'
 '490' '5' '50' '500' '51' '510' '52' '520' '53' '530' '54' '540' '55'
 '550' '56' '560' '57' '570' '58' '580' '59' '590' '6' '60' '600' '61'
 '610' '62' '620' '63' '630' '64' '640' '65' '650' '66' '660' '67' '670'
 '68' '680' '69' '690' '7' '70' '700' '71' '710' '72' '720' '73' '730'
 '74' '740' '75' '750' '76' '760' '77' '770' '78' '780' '79' '790' '8'
 '80' '800' '81' '810' '82' '820' '83' '830' '84' '840' '85' '850' '86'
 '860' '87' '870' '88' '880' '89' '890' '9' '90' '900' '91' '910' '92'
 '920' '93' '930' '94' '940' '95' '950' '971' '972' '973' '974' '975'
 '976' '977' '978' '986' '987' '988']
Départements après nettoyage :
['01' '02' '03' '04' '05' '06' '07' '08' '09' '10' '11' '12' '13' '14'
 '15' '16' '17' '18' '19' '20' '20A' '20B' '21' '22' '23' '24' '25' '26'
 '27' '28' '29' '2A' '2B' '30' '31' '32' '33' '34' '35' '36' '37' '38'
 '39' '40' '41' '42' '43' '44' '45' '46' '47' '48' '49' '50' '51' '52'
 '53' '54' '55' '56' '57' '58' '59' '60' '61' '62' '63' '64' '65' '66'
 '67' '68' '69' '70' '71' '72' '73' '74' '75' '76' '77' '78' '79' '80'
 '81' '82' '83' '84' '85' '86' '87' '88' '89' '90' '91' '92' '93' '94'
 '95' '971' '972' '973' '974' '975' '976' '977' '978' '986' '987' '988']
Column an_nais coreectly dropped from DataFrame
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2501286 entries, 0 to 2506761
Data columns (total 35 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   Num_Acc   2501286 non-null  int64
 1   place     2501286 non-null  Int64
 2   catu      2501286 non-null  Int64
 3   grav      2501286 non-null  Int64
 4   sexe      2501286 non-null  Int64
 5   trajet    2501286 non-null  Int64
 6   locp      2501286 non-null  Int64
 7   actp      2501286 non-null  object
 8   etatp     2501286 non-null  Int64
 9   num_veh   2501286 non-null  object
 10  an        2501286 non-null  Int64
 11  mois      2501286 non-null  Int64
 12  jour      2501286 non-null  Int64
 13  hrmn      2501286 non-null  object
 14  lum       2501286 non-null  Int64
 15  agg       2501286 non-null  Int64
 16  int       2501286 non-null  Int64
 17  atm       2501286 non-null  Int64
 18  col       2501286 non-null  Int64
 19  dep       2501286 non-null  object
 20  catr      2501286 non-null  Int64
 21  circ      2501286 non-null  Int64
 22  nbv       2501286 non-null  int64
 23  vosp      2501286 non-null  Int64
 24  prof      2501286 non-null  Int64
 25  plan      2501286 non-null  Int64
 26  surf      2501286 non-null  Int64
 27  infra     2501286 non-null  Int64
 28  situ      2501286 non-null  Int64
 29  senc      2501286 non-null  Int64
 30  catv      2501286 non-null  int64
 31  age       2501286 non-null  Int64
 32  datetime  2501286 non-null  datetime64[ns]
 33  joursem   2501286 non-null  object
 34  grav_lbl  2501286 non-null  object
dtypes: Int64(25), datetime64[ns](1), int64(3), object(6)
memory usage: 746.6+ MB

In [10]:
df = pd.read_csv('project_df.csv')

C:\Users\Nicolas\AppData\Local\Temp\ipykernel_8980\1501326463.py:1: DtypeWarning: Columns (8,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('project_df.csv')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2501286 entries, 0 to 2501285
Data columns (total 36 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   Num_Acc     int64
 2   place       int64
 3   catu        int64
 4   grav        int64
 5   sexe        int64
 6   trajet      int64
 7   locp        int64
 8   actp        object
 9   etatp       int64
 10  num_veh     object
 11  an          int64
 12  mois        int64
 13  jour        int64
 14  hrmn        object
 15  lum         int64
 16  agg         int64
 17  int         int64
 18  atm         int64
 19  col         int64
 20  dep         object
 21  catr        int64
 22  circ        int64
 23  nbv         int64
 24  vosp        int64
 25  prof        int64
 26  plan        int64
 27  surf        int64
 28  infra       int64
 29  situ        int64
 30  senc        int64
 31  catv        int64
 32  age         int64
 33  datetime    object
 34  joursem     object
 35  grav_lbl    object
dtypes: int64(29), object(7)
memory usage: 687.0+ MB