In [ ]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import lib_data_load as ld
import lib_data_ref as dr
from datetime import date

import seaborn as sns

dir_data = ".\\data\\data_gouv_fr\\"

# Usagers
dic_usagers = ld.load_usagers(folder_path=dir_data, start_year=2020, end_year=2021)

# Caractéristiques
dic_caract = ld.load_caract(folder_path=dir_data, start_year=2020, end_year=2021)

# Véhicules
dic_vehic = ld.load_vehicules(folder_path=dir_data, start_year=2020, end_year=2021)

# Lieux
dic_lieux = ld.load_lieux(folder_path=dir_data, start_year=2020, end_year=2021)

df_usagers = dic_usagers[2020]
df_caract = dic_caract[2020]
df_vehic = dic_vehic[2020]
df_lieux = dic_lieux[2020]

In [ ]:
print(df_usagers.duplicated().sum())
print(df_usagers.drop_duplicates(inplace=True))
print(df_usagers.duplicated().sum())

print(df_caract.duplicated().sum())
print(df_caract.drop_duplicates(inplace=True))
print(df_caract.duplicated().sum())

print(df_vehic.duplicated().sum())
print(df_vehic.drop_duplicates(inplace=True))
print(df_vehic.duplicated().sum())

print(df_lieux.duplicated().sum())
print(df_lieux.drop_duplicates(inplace=True))
print(df_lieux.duplicated().sum())

In [ ]:
df_all = df_usagers.merge(on=['Num_Acc'], right=df_caract, how='left')
df_all = df_all.merge(on=['Num_Acc', 'id_vehicule', 'num_veh'], right=df_vehic, how='left')
df_all = df_all.merge(on='Num_Acc', right=df_lieux, how='left')

In [ ]:
# print('usagers : ', df_usagers.columns)
# print('caract : ', df_caract.columns)
# print('vehic : ', df_vehic.columns)
# print('lieux : ', df_lieux.columns)

In [69]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105232 entries, 0 to 105231
Data columns (total 71 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Num_Acc      105232 non-null  int64
 1   id_vehicule  105232 non-null  object
 2   num_veh      105232 non-null  object
 3   place        105232 non-null  int64
 4   catu         105232 non-null  int64
 5   grav         105232 non-null  int64
 6   sexe         105232 non-null  int64
 7   an_nais      105232 non-null  int64
 8   trajet       105232 non-null  int64
 9   secu1        105232 non-null  int64
 10  secu2        105232 non-null  int64
 11  secu3        105232 non-null  int64
 12  locp         105232 non-null  int64
 13  actp         105232 non-null  object
 14  etatp        105232 non-null  int64
 15  jour         105232 non-null  int64
 16  mois         105232 non-null  int64
 17  an           105232 non-null  int64
 18  hrmn         105232 non-null  object
 19  lum          105232 non-null  int64
 20  dep          105232 non-null  object
 21  com          105232 non-null  object
 22  agg          105232 non-null  int64
 23  int          105232 non-null  int64
 24  atm          105232 non-null  int64
 25  col          105232 non-null  int64
 26  adr          104442 non-null  object
 27  lat          105232 non-null  object
 28  long         105232 non-null  object
 29  senc         105232 non-null  int64
 30  catv         105232 non-null  int64
 31  obs          105232 non-null  int64
 32  obsm         105232 non-null  int64
 33  choc         105232 non-null  int64
 34  manv         105232 non-null  int64
 35  motor        105232 non-null  int64
 36  occutc       1154 non-null    float64
 37  catr_x       105232 non-null  int64
 38  voie_x       82690 non-null   object
 39  v1_x         105232 non-null  int64
 40  v2_x         6618 non-null    object
 41  circ_x       105232 non-null  int64
 42  nbv_x        105232 non-null  int64
 43  vosp_x       105232 non-null  int64
 44  prof_x       105232 non-null  int64
 45  pr_x         105232 non-null  object
 46  pr1_x        105232 non-null  object
 47  plan_x       105232 non-null  int64
 48  lartpc_x     306 non-null     object
 49  larrout_x    105232 non-null  object
 50  surf_x       105232 non-null  int64
 51  infra_x      105232 non-null  int64
 52  situ_x       105232 non-null  int64
 53  vma_x        105232 non-null  int64
 54  catr_y       105232 non-null  int64
 55  voie_y       82690 non-null   object
 56  v1_y         105232 non-null  int64
 57  v2_y         6618 non-null    object
 58  circ_y       105232 non-null  int64
 59  nbv_y        105232 non-null  int64
 60  vosp_y       105232 non-null  int64
 61  prof_y       105232 non-null  int64
 62  pr_y         105232 non-null  object
 63  pr1_y        105232 non-null  object
 64  plan_y       105232 non-null  int64
 65  lartpc_y     306 non-null     object
 66  larrout_y    105232 non-null  object
 67  surf_y       105232 non-null  int64
 68  infra_y      105232 non-null  int64
 69  situ_y       105232 non-null  int64
 70  vma_y        105232 non-null  int64
dtypes: float64(1), int64(49), object(21)
memory usage: 57.8+ MB