## Véhicules immatriculés impliqués dans les accidents corporels - 2009 à 2021

In [2]:
import pandas as pd
import numpy as np

dir_data = "C:\\Users\\Nicolas\\\Desktop\\Data\\data.gouv.fr\\"
# dir_data = "C:\\Users\\nicol\\Data\\data.gouv.fr\\"

df_2009 = pd.read_csv(dir_data + '2009.csv', sep=';')
df_2010 = pd.read_csv(dir_data + '2010.csv', sep=';')
df_2011 = pd.read_csv(dir_data + '2011.csv', sep=';')
df_2012 = pd.read_csv(dir_data + '2012.csv', sep=';')
df_2013 = pd.read_csv(dir_data + '2013.csv', sep=';')
df_2014 = pd.read_csv(dir_data + '2014.csv', sep=';')
df_2015 = pd.read_csv(dir_data + '2015.csv', sep=';')
df_2016 = pd.read_csv(dir_data + '2016.csv', sep=';')
df_2017 = pd.read_csv(dir_data + '2017.csv', sep=';')
df_2018 = pd.read_csv(dir_data + '2018.csv', sep=';')
df_2019 = pd.read_csv(dir_data + '2019.csv', sep=';')
df_2020 = pd.read_csv(dir_data + '2020.csv', sep=';')
df_2021 = pd.read_csv(dir_data + '2021.csv', sep=';')

# cf. description-de-la-liste-des-vehicules-immatricules-impliques-dans-les-accidents-corporels.pdf
# -------------------------------------------------------------------------------------------------
# Id_accident : Numéro d'identifiant de l’accident
# Lettre Conventionnelle Véhicule : Identifiant de chaque véhicule impliqué dans un même accident – Code alpha
# Année : Année de l'accident 
# Lieu Admin Actuel - Territoire Nom : 'Métropole', 'DOM', ou 'Autres OM' 
# Type Accident - Libellé (old) : accident léger, mortel, ou grave
# CNIT : numéro d’identification national associé à chaque type, variante et version (TVV) de chaque réception communautaire de véhicules
# Catégorie véhicule : Cyclo, Moto légère, moto lourdez, VT, VU, PL, Autres
# Age véhicule : Age du véhicule à partir de la date de 1ère mise en circulation jusqu’à la date de l’accident

df_2021.head()
# df_2021.describe()

# df_2021['Lettre Conventionnelle Véhicule'].value_counts() 
# -> pour chaque accident, compter le nb de véhicules impliqués et refaire un codage propre (A, B, C, ...)

C:\Users\Nicolas\AppData\Local\Temp\ipykernel_13848\480573530.py:7: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2009 = pd.read_csv(dir_data + '2009.csv', sep=';')

,Id_accident,Lettre Conventionnelle Véhicule,Année,Lieu Admin Actuel - Territoire Nom,Type Accident - Libellé (old),CNIT,Catégorie véhicule,Age véhicule
0,58 720,A,2021,Métropole,Accident grave non mortel,MJT5562EV674,VT,13.0
1,58 720,B,2021,Métropole,Accident grave non mortel,MJT1272R5676,VT,12.0
2,58 721,A,2021,Métropole,Accident grave non mortel,NaN,VT,16.0
3,58 722,A,2021,Métropole,Accident Léger,M10FATVP001U442,VT,9.0
4,58 722,B,2021,Métropole,Accident Léger,M10DACVP001T424,VT,1.0

## Caractéristiques

In [3]:
carac_2005 = pd.read_csv(dir_data + 'caracteristiques_2005.csv', sep=',', encoding='ISO-8859-1')
carac_2006 = pd.read_csv(dir_data + 'caracteristiques_2006.csv', sep=',', encoding='ISO-8859-1')
carac_2007 = pd.read_csv(dir_data + 'caracteristiques_2007.csv', sep=',', encoding='ISO-8859-1')
carac_2008 = pd.read_csv(dir_data + 'caracteristiques_2008.csv', sep=',', encoding='ISO-8859-1')
carac_2009 = pd.read_csv(dir_data + 'caracteristiques_2009.csv', sep='\t', encoding='ISO-8859-1')
carac_2010 = pd.read_csv(dir_data + 'caracteristiques_2010.csv', sep=',', encoding='ISO-8859-1')
carac_2011 = pd.read_csv(dir_data + 'caracteristiques_2011.csv', sep=',', encoding='ISO-8859-1')
carac_2012 = pd.read_csv(dir_data + 'caracteristiques_2012.csv', sep=',', encoding='ISO-8859-1')
carac_2013 = pd.read_csv(dir_data + 'caracteristiques_2013.csv', sep=',', encoding='ISO-8859-1')
carac_2014 = pd.read_csv(dir_data + 'caracteristiques_2014.csv', sep=',', encoding='ISO-8859-1')
carac_2015 = pd.read_csv(dir_data + 'caracteristiques_2015.csv', sep=',', encoding='ISO-8859-1')
carac_2016 = pd.read_csv(dir_data + 'caracteristiques_2016.csv', sep=',', encoding='ISO-8859-1')
carac_2017 = pd.read_csv(dir_data + 'caracteristiques-2017.csv', sep=',', encoding='ISO-8859-1')
carac_2018 = pd.read_csv(dir_data + 'caracteristiques-2018.csv', sep=',', encoding='ISO-8859-1')
carac_2019 = pd.read_csv(dir_data + 'caracteristiques-2019.csv', sep=';')
carac_2020 = pd.read_csv(dir_data + 'caracteristiques-2020.csv', sep=';')
# typo dans le nom du fichier -> à corriger en cas d'automatisation
carac_2021 = pd.read_csv(dir_data + 'carcteristiques-2021.csv', sep=';')

carac_2021
# Num_Acc : identifiant de l'accident
# jour : jour de l'accident
# mois : mois de l'accident
# an : année de l'accident
# hrmn : hh:mm de l'accident
# lum : conditions de luminosité (1: Plein jour, ..., 5:Nuit avec éclairage public allumé)
# dep : département (code INSEE)
# com : commune (code INSEE)
# agg : localisation (1: hors agglomération, 2: en agglomération)
# int : intersection (1: Hors intersection, ..., 9: Autre intersection)
# atm : conditions atmosphériques (-1: Non renseigné, 1: Normale, ..., 8: Temps couvert, 9: Autre)
# col : type de collision (-1: Non renseigné, 1:Deux véhicules - frontale, ..., 6: Autre collision, 7: Sans collision)
# adr : adresse postale 
# lat : latitude
# long : longitude

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long
0,202100000001,30,11,2021,07:32,2,30,30319,1,1,1,1,CD 981,"44,0389580000","4,3480220000"
1,202100000002,25,9,2021,14:20,1,51,51544,1,3,1,3,Aire de repos croisement D20E9 après sortie D977,"49,2421290000","4,5545460000"
2,202100000003,15,7,2021,07:55,1,85,85048,2,1,7,6,15 rue François Nicolas,"46,9219500000","-0,9644600000"
3,202100000004,27,3,2021,19:45,5,93,93005,2,2,3,6,Route de Mitry,"48,9493634583","2,5196639908"
4,202100000005,25,2,2021,07:20,5,76,76429,2,1,1,2,PARIS. ROUTE DE,"49,4083800000","1,1458100000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56513,202100056514,1,1,2021,06:10,3,33,33021,1,1,5,6,NaN,"44,5266190000","-0,1955440000"
56514,202100056515,1,1,2021,10:20,1,38,38405,1,1,2,6,D520,"45,3802910000","5,7049140000"
56515,202100056516,1,1,2021,18:00,3,26,26064,1,1,2,1,Route départementale 538,"44,9112100000","5,0196360000"
56516,202100056517,1,1,2021,10:55,1,33,33003,1,2,1,6,Voie rapide Bassens Ambes,"44,9542747363","-0,5179211363"
56517,202100056518,2,1,2021,18:00,3,78,78423,1,1,3,1,VOLTA (AVENUE),"48,7966700000","2,0505000000"

## Lieux

In [4]:
lieux_2005 = pd.read_csv(dir_data + 'lieux_2005.csv', sep=',')
lieux_2006 = pd.read_csv(dir_data + 'lieux_2006.csv', sep=',')
lieux_2007 = pd.read_csv(dir_data + 'lieux_2007.csv', sep=',')
lieux_2008 = pd.read_csv(dir_data + 'lieux_2008.csv', sep=',')
lieux_2009 = pd.read_csv(dir_data + 'lieux_2009.csv', sep=',')
lieux_2010 = pd.read_csv(dir_data + 'lieux_2010.csv', sep=',')
lieux_2011 = pd.read_csv(dir_data + 'lieux_2011.csv', sep=',')
lieux_2012 = pd.read_csv(dir_data + 'lieux_2012.csv', sep=',')
lieux_2013 = pd.read_csv(dir_data + 'lieux_2013.csv', sep=',')
lieux_2014 = pd.read_csv(dir_data + 'lieux_2014.csv', sep=',')
lieux_2015 = pd.read_csv(dir_data + 'lieux_2015.csv', sep=',')
lieux_2016 = pd.read_csv(dir_data + 'lieux_2016.csv', sep=',')
lieux_2017 = pd.read_csv(dir_data + 'lieux-2017.csv', sep=',')
lieux_2018 = pd.read_csv(dir_data + 'lieux-2018.csv', sep=',')
lieux_2019 = pd.read_csv(dir_data + 'lieux-2019.csv', sep=';')
lieux_2020 = pd.read_csv(dir_data + 'lieux-2020.csv', sep=';')
lieux_2021 = pd.read_csv(dir_data + 'lieux-2021.csv', sep=';')

C:\Users\Nicolas\AppData\Local\Temp\ipykernel_13848\1498280144.py:12: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  lieux_2016 = pd.read_csv(dir_data + 'lieux_2016.csv', sep=',')
C:\Users\Nicolas\AppData\Local\Temp\ipykernel_13848\1498280144.py:13: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  lieux_2017 = pd.read_csv(dir_data + 'lieux-2017.csv', sep=',')
C:\Users\Nicolas\AppData\Local\Temp\ipykernel_13848\1498280144.py:14: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  lieux_2018 = pd.read_csv(dir_data + 'lieux-2018.csv', sep=',')

## Usagers

In [6]:
usagers_2005 = pd.read_csv(dir_data + 'usagers_2005.csv', sep=',')
usagers_2006 = pd.read_csv(dir_data + 'usagers_2006.csv', sep=',')
usagers_2007 = pd.read_csv(dir_data + 'usagers_2007.csv', sep=',')
usagers_2008 = pd.read_csv(dir_data + 'usagers_2008.csv', sep=',')
usagers_2009 = pd.read_csv(dir_data + 'usagers_2009.csv', sep=';')
usagers_2010 = pd.read_csv(dir_data + 'usagers_2010.csv', sep=',')
usagers_2011 = pd.read_csv(dir_data + 'usagers_2011.csv', sep=',')
usagers_2012 = pd.read_csv(dir_data + 'usagers_2012.csv', sep=',')
usagers_2013 = pd.read_csv(dir_data + 'usagers_2013.csv', sep=',')
usagers_2014 = pd.read_csv(dir_data + 'usagers_2014.csv', sep=',')
usagers_2015 = pd.read_csv(dir_data + 'usagers_2015.csv', sep=',')
usagers_2016 = pd.read_csv(dir_data + 'usagers_2016.csv', sep=',')
usagers_2017 = pd.read_csv(dir_data + 'usagers-2017.csv', sep=',')
usagers_2018 = pd.read_csv(dir_data + 'usagers-2018.csv', sep=',')
usagers_2019 = pd.read_csv(dir_data + 'usagers-2019.csv', sep=';')
usagers_2020 = pd.read_csv(dir_data + 'usagers-2020.csv', sep=';')
usagers_2021 = pd.read_csv(dir_data + 'usagers-2021.csv', sep=';')

## Véhicules

In [7]:
vehic_2005 = pd.read_csv(dir_data + 'vehicules_2005.csv', sep=',')
vehic_2006 = pd.read_csv(dir_data + 'vehicules_2006.csv', sep=',')
vehic_2007 = pd.read_csv(dir_data + 'vehicules_2007.csv', sep=',')
vehic_2008 = pd.read_csv(dir_data + 'vehicules_2008.csv', sep=',')
vehic_2009 = pd.read_csv(dir_data + 'vehicules_2009.csv', sep=',')
vehic_2010 = pd.read_csv(dir_data + 'vehicules_2010.csv', sep=',')
vehic_2011 = pd.read_csv(dir_data + 'vehicules_2011.csv', sep=',')
vehic_2012 = pd.read_csv(dir_data + 'vehicules_2012.csv', sep=',')
vehic_2013 = pd.read_csv(dir_data + 'vehicules_2013.csv', sep=',')
vehic_2014 = pd.read_csv(dir_data + 'vehicules_2014.csv', sep=',')
vehic_2015 = pd.read_csv(dir_data + 'vehicules_2015.csv', sep=',')
vehic_2016 = pd.read_csv(dir_data + 'vehicules_2016.csv', sep=',')
vehic_2017 = pd.read_csv(dir_data + 'vehicules-2017.csv', sep=',')
vehic_2018 = pd.read_csv(dir_data + 'vehicules-2018.csv', sep=',')
vehic_2019 = pd.read_csv(dir_data + 'vehicules-2019.csv', sep=';')
vehic_2020 = pd.read_csv(dir_data + 'vehicules-2020.csv', sep=';')
vehic_2021 = pd.read_csv(dir_data + 'vehicules-2021.csv', sep=';')